body {
  color: #909090 !important;
}
@font-face {
  font-family: Circular-Medium;
  src: url(../fonts/Circular-Medium.ttf);
}
.font-circular-medium {
  font-family: Circular-Medium !important;
}
@font-face {
  font-family: CircularPro-Bold;
  src: url(../fonts/lineto-circular-pro-bold-webfont.ttf);
}
.font-CircularPro-Bold {
  font-family: CircularPro-Bold !important;
}
@font-face {
  font-family: CircularPro-Book;
  src: url(../fonts/lineto-circular-pro-book-webfont.ttf);
}
.font-CircularPro-Book {
  font-family: CircularPro-Book !important;
}
.pl-158px {
  padding-left: 158px;
}
.gray-color {
  color:#909090;
}
.active-iink ,.navbar ul li a:active {
  color: #54575a;
}
.navbar-toggler:hover, .see-stores-btn:hover {
  background-color: #ececec;
}
.navbar-toggler:focus {
  outline: none;
}
.text-black {
  color: black;
}
.line-padding {
  padding-right: 11px;
}
.pl-6px {
  padding-left: 6px;
}
.pr-11px {
  padding-right: 11px !important;
}
.pr-18px {
  padding-right: 18px !important;
}
/* .vertical-line-nav {
  color: #e4e4e4;
} */
.list-style-none {
  list-style: none;
}
.nav-btn {
  border-radius: 7px;
  border: 1px solid #f9a541;
  color: #f9a541;
  font-family: Circular-Medium;
  width: 129px;
  height: 50px;
}
.navbar-height {
  line-height: 43px;
}
/* .nav-divider {
  margin: 0 17px;
} */
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-30 {
  font-size: 30px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-21 {
  font-size: 21px !important;
}
.font-size-24 {
  font-size: 24px !important;
}
.font-size-36 {
  font-size: 36px !important;
}
.title-m {
  margin-bottom: 10px;
}
.font-size-42 {
  font-size: 42px;
}
.positive-color {
  color: #00c4a6;
}
.negative-color {
  color: #e13131;
}
.black-color {
  color: #202020;
}
.letter-spacing-npoint7px {
  letter-spacing: -0.7px;
}
.title-pa {
  margin-top: 30px;
}
.best-marketplace-top-padding {
  padding-top: 80px;
}
.orange-color, footer u {
  color: #f9a541;
}
footer u:hover ,.contact-us-btn:hover{
  color: #e77f00 ;
}
.nav-btn:hover, .see-stores-btn:hover {
  background-color: #f9a541;
  color: white;
  border: 1px solid #f9a541;
}
.get-startd-btn:hover{
  background-color: #e77f00;
}
.mr-13px {
  margin-right: 13px;
}
.features-section {
  padding-top: 111px;
}
.features-icons-container {
  padding-top: 72px;
  padding-bottom: 64px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-14px {
  margin-bottom: 14px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mr-18px {
  margin-right: 18px;
}
.pr-68px {
  padding-right: 68px;
}
.mt-30px {
  margin-top: 30px;
}
.mt-28px {
  margin-top: 28px;
}
.mt-56px {
  margin-top: 56px;
}
.py-132px-148px {
  padding-top: 132px;
  padding-bottom: 148px;
}
.my-35px {
  margin: 35px 0;
}
.my-166px-136px {
  margin-top: 166px;
  margin-bottom: 136px;
}
.see-stores-btn {
  border: 1px solid #909090;
  border-radius: 7px;
  width: 157px;
  height: 53px;
  margin-top: 27px;
}
.pt-25px {
  padding-top: 25px;
}
.pt-19px {
  padding-top: 19px;
}
.address {
  height: 498px;
}
.address-img {
  top: 26px;
  left: 136px;
  position: absolute;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.address-tag {
  border-radius: 5px;
  background-color: #f9a541;
  box-shadow: 8.485px 8.485px 27px 0px rgba(122, 116, 105, 0.25);
  width: 324px;
  height: 159px;
  padding: 35px 33px;
  left: 58px;
  top: 304px;
}

.pin-icon-img {
  left: 7px;
  top: -49px;
}
.background-1 {
  /* background-color: rgb( 247, 246, 244 ); */
  background: linear-gradient(to bottom,
  rgb( 247, 246, 244 ) 90%, white 90% 100%);
  padding-top: 83px;
  /* height: 759px; */
}
.nav-bg {
  background-color: rgb( 247, 246, 244 );
}

.price-box {
  border-radius: 9px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0px 3px 9px 0px rgb( 248, 244, 240);
  width: 258px;
  height: 159px;
  padding: 20px 27px 40px 20px;
}
.arrow-setter {
  left: 596px;
  top: 147px;
  z-index: 200;
}
.price-box-padding {
  padding-top: 93px;
}
/* .mb-33px {
  margin-bottom: 33px;
}
.mb-26px {
  margin-bottom: 26px;
} */
.feature-col {
  margin-bottom: 75px;
}
.feature-icon-setter {
  margin-bottom: 29px;
  height: 73px;
}
.featured-bg {
  background: url(../images/featured-card-bg.jpg) no-repeat;
  border-radius: 7px;
  background-size: cover;
}
@media (min-width: 844px) {
  .featured-bg {
    border-radius: 7px;
    margin-right: 52px;
  }
}
.py-126px {
  padding: 126px 0 119px 0;
}
.mb-76px {
  margin-bottom: 76px;
}
.icon-paragraph {
  line-height: 27px;
}
.contact-us-btn {
  width: 142px;
  height: 46px;
  border-radius: 7px;
}
.p-32px {
  padding: 32px 32px 32px 32px;
}
.mb-21px {
  margin-bottom: 21px;
}
.background-2 {
  background-color: #fbfaf8;
}
.learn-more-btn {
  background-color: #f9a541;
  border-radius: 7px;
  width: 157px;
  height: 53px;
}
.learn-more-btn:hover, .get-startd-btn:hover {
  background-color: white;
  color: #f9a541 !important;
  border: 1px solid #f9a541;
}
.mt-35px {
  margin-top: 35px;
}
.buy-crypto-box {
  border-radius: 9px;
  background-color:#f9f6ee;
  /* width: 510px; */
  height: 529px;
  margin-top: 91px;
}
.sell-crypto-box {
  border-radius: 9px;
  background-color:#f6f6f7;
  /* width: 512px; */
  height: 499px;
}
.crypto-box {
  border-radius: 9px;
  background-color:#eff5f3;
  /* width: 512px; */
  height: 499px;
  margin-top: 31px;
}
.buy-crypto-bg {
  background: url(../images/buy-crypto-bg.png) no-repeat right 37% bottom 269%;
  height: 100%;
}
.sell-crypto-bg {
  background: url(../images/sell-crypto-bg.png) no-repeat right bottom;
  height: 100%;
}
.crypto-bg {
  background: url(../images/crypto-category-img.png) no-repeat right -242px bottom -349px;
  height: 100%;
}
.py-157px-202px {
  padding-top: 157px;
  padding-bottom: 202px;
}
.pt-132px {
  padding-top: 132px;
}
.mt-62px {
  margin-top: 62px;
}
.line-height-40px {
  line-height: 40px;
}
.pr-47px {
  padding-right: 47px;
}
.crypto-box-p {
  padding: 66px 35px 0 56px;
}
.my-29px-34px {
  margin-top: 29px;
  margin-bottom: 34px;
}
.customer-box {
  border-radius: 7px;
  background-color: #f9a541;
  /* width: 153px;
  height: 194px; */
  padding-top: 36px;
  padding-bottom: 12px;
}
.transaction-box {
  border-radius: 7px;
  background-color: #dccb89;
  /* width: 153px;
  height: 194px; */
  padding-top: 36px;
  padding-bottom: 7px;
}
.feedback-box {
  border-radius: 7px;
  background-color:#00c4a6;
  /* width: 153px;
  height: 194px; */
  padding-top: 36px;
  padding-bottom: 15px;
}
.mt-32px{
  margin-top: 32px;
}
.background-3 {
  background: url(../images/bg-img.png) no-repeat 48% 7%;;
  background-size: 52%;
}
.get-startd-btn {
  border-radius: 7px;
  background-color: #f9a541;
  width: 157px;
  height: 53px;
}
.about-imgs {
  /* height: 560px; */
}
.mb-86px {
  margin-bottom: 86px;
}
.background-4 {
  background: url(../images/worold-map.png) no-repeat;
  background-position: right top;
}
.address-box {
  border-radius: 5px;
  box-shadow: 0px 3px 9px 0px rgba(200, 183, 166, 0.15);
  padding: 33px 20px 30px 30px;
  max-width: 258px;
  min-height: 301px;
  height: 100%;
}
.py-148px-143px {
  padding-top: 148px;
  padding-bottom: 143px;
}
.my-143px-93px {
  margin-top: 143px;
  margin-bottom: 93px;
}
.footer-font-color, footer .footer-font-color li a{
  color: #6b6b6b;
}
footer .footer-font-color li a:hover, .company_name:hover {
  color: #aaa7a7 !important;
}
hr {
  border-top: 0.5px solid #2b2b2b;
}
.pt-91px {
  padding-top: 91px;
}
.pb-176px {
  padding-bottom: 176px;
}
.mb-83px {
  margin-bottom: 83px;
}
.mb-43px {
  margin-bottom: 43px;
}
.black-bg {
  background-color: #202020;
}
.pin-setter{
  top: -10px;
  left: 25px;
}
.social-media-box {
  border: 1px solid #e7e2d9;
  border-radius: 5px;
  padding: 17px 5px 13px 4px;
  margin-bottom: 20px;
}
footer .footer-font-color .col-md-3 ul li::before {
  content: "\2022";
  color: #313131;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.footer-bg {
  background: url(../images/footer-bg.png) no-repeat 50.5% 100%;
}


.l-border::before {
  content: "";
  border-left: 1px solid#e4e4e4;
  margin: 0 11px 0 0;
}
.l-border-lang::before {
  content: "";
  border-left: 1px solid#e4e4e4;
  margin: 0 5px 0 5px;
}

.nav-link.nav-padding {
  padding: 8px 15px !important;
}
.t-center li a:hover{
  color: #202020;
}
.sell-line::after {
  content: url(../images/horizontal-line-yellow.png);
  display: block;
  line-height: 7px;
}
.crypto-line::after {
  content: url(../images/horizontal-line-green.png);
  display: block;
  line-height: 7px;
}
.buy-line::after {
  content: url(../images/horizontal-line-orange.png);
  display: block;
  line-height: 7px;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1170px;
  }
  .pr-60px {
    padding-right: 60px;
  }
  .pr-20px {
    padding-right: 20px;
  }
  .pl-55px {
    padding-left: 55px;
  }
  .height-100 {
    height: 100%;
  }
}
@media (max-width: 1199px) {
  .background-1 {
    background: linear-gradient(to bottom,
  rgb( 247, 246, 244 ) 85%, white 85% 100%);
  }
}

@media (max-width: 767px) {
  .background-1 {
    background: linear-gradient(to bottom,
  rgb( 247, 246, 244 ) 89%, white 89% 100%);
  }
}
@media (max-width: 575px) {
  .background-1 {
    background: linear-gradient(to bottom,
  rgb( 247, 246, 244 ) 81%, white 81% 100%);
  }
}
@media (max-width: 1200px) {
  .address {
    height: 700px;
  }
  .address-tag {
    left: 33px;
    top: 426px;
  }
  .address-img {
    left: 0;
    top: 0;
  } 
  .arrow-setter {
    left: 374px;
    top: 95px;
  }
}
.arrow-pointer-disable {
  pointer-events: none;
}
@media (max-width: 991px) {
  .background-1 {
    background: linear-gradient(to bottom,
  rgb( 247, 246, 244 ) 88.9%, white 88.9% 100%);
  }
  .address-tag {
    left: 58px;
    top: 304px;
  }
  .address-img {
    top: 26px;
    left: 136px;
  }
  .arrow-setter {
    left: 596px;
    top: 147px;
  }
  .l-border::before {
    display: none;
  }
  .navbar ul li a {
    text-align: center;
  }
  .t-center, form {
    display: flex;
    justify-content: center;
  }
  .pr-68px, .pr-20px {
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .address {
    height: 700px;
  }
  /* .address-tag {
    left: 127px;
    top: 453px;
  }  */
}

@media (max-width: 767px) {
  .address-box {
    max-width: 100% !important;
    margin-bottom: 20px;
  } 
  .address-tag {
    left: 14px;
    top: 412px;
  } 
  .address-img {
    left: 0;
    top: 0;
  } 
  .arrow-setter {
    left: 374px;
    top: 95px;
  }
}
@media (max-width: 576px) {
  .arrow-setter {
    left: 17px;
    top: -31px;
  }
  .crypto-box-p {
    padding: 15px;
  }
}
@media (max-width: 380px) {
  .address-tag {
    width: 260px;
    top: 351px;
  }
}